@import "base";

div.decks-inventory {
	height: calc(100% + 60px);
	div.decks-container {
/*		height: 279px;
		position: relative;
		top: calc((100% - 279px)/2);*/
		height: 100%;
		ul.decks-container {
			margin: 0 auto;
			width: 955px;
			height: calc(100%);
			/*box-shadow: inset 1px 1px 3px 4px black;*/
			transition: margin-top 0.5s ease;
			-webkit-transition: margin-top 0.5s ease;
			-moz-transition: margin-top 0.5s ease;
			-ms-transition: margin-top 0.5s ease;
			-o-transition: margin-top 0.5s ease;
			&.stick {
				transition: margin-top 0s;
				-webkit-transition: margin-top 0s;
				-moz-transition: margin-top 0s;
				-ms-transition: margin-top 0s;
				-o-transition: margin-top 0s;
			}
			.deck-item-container {
				height: 279px;
				top: calc((100% - 372px)/2);
				position: relative;
				.deck-item {
					display: inline-block;
					margin-bottom: 15px;
					width: 19%;
					min-width: 235px;
					.deck-img-container {
						width: 200px;
						margin: 0 auto;
						.name {
							text-align: center;
							margin-bottom: 10px;
							transition: transform 1s ease;
							-webkit-transition: transform 1s ease;
							-moz-transition: transform 1s ease;
							-ms-transition: transform 1s ease;
							-o-transition: transform 1s ease;
						}
						img {
							width: 200px;
							height: 279px;
							border-radius: 10px;
						}
						.cover-img, .middle {
							position: absolute;
						}
						.cover-img {
							transform: translate(8px, -8px);
							transition: transform 1s ease;
							-webkit-transition: transform 1s ease;
							-moz-transition: transform 1s ease;
							-ms-transition: transform 1s ease;
							-o-transition: transform 1s ease;
						}
						.middle {
							transform: translate(4px, -4px);
							transition: transform 1s ease;
							-webkit-transition: transform 1s ease;
							-moz-transition: transform 1s ease;
							-ms-transition: transform 1s ease;
							-o-transition: transform 1s ease;
						}
						i {
							width: 200px;
							display: none;
							text-align: center;
							position: absolute;
							&:hover {
								color: $base-color;
							}
						}
						&:hover {
							cursor: pointer;
							.name {
								transform: translate(12px, -12px);
								transition: transform 1s ease;
								-webkit-transition: transform 1s ease;
								-moz-transition: transform 1s ease;
								-ms-transition: transform 1s ease;
								-o-transition: transform 1s ease;
							}
							.title {
								color: $base-color;
							}
							.cover-img {
								transform: translate(20px, -20px);
								transition: transform 1s ease;
								-webkit-transition: transform 1s ease;
								-moz-transition: transform 1s ease;
								-ms-transition: transform 1s ease;
								-o-transition: transform 1s ease;
							}
							.middle {
								transform: translate(10px, -10px);
								transition: transform 1s ease;
								-webkit-transition: transform 1s ease;
								-moz-transition: transform 1s ease;
								-ms-transition: transform 1s ease;
								-o-transition: transform 1s ease;
							}
							i {
								display: block;
							}
						}
					}
				}
			}
		}
	}
	.carousel-indicators {
		position: fixed;
		top: calc(50% - 60px);
		right: 40px;
		.carousel-indicator {
			width: $carousel-size;
			height: $carousel-size;
			border: 1px solid black;
			border-radius: 50%;
			margin-bottom: $carousel-size;
			&:hover {
				cursor: pointer;
			}
			&.active {
				background-color: black;
			}
		}
	}
	.decks-nav {
		display: none;
		position: fixed;
		top: 60px;
		bottom: 0;
		right: 0;
		width: 215px;
		transition: right 0.5s ease-in-out;
		-webkit-transition: right 0.5s ease-in-out;
		-moz-transition: right 0.5s ease-in-out;
		-ms-transition: right 0.5s ease-in-out;
		&.closed {
			transition: right 1s ease-in-out;
			-webkit-transition: right 0.5s ease-in-out;
			-moz-transition: right 0.5s ease-in-out;
			-ms-transition: right 0.5s ease-in-out;
			right: -123px;
			.fa-chevron-left {
				display: block;
			}
		}
		&:not(closed):hover > .fa-chevron-right {
			display: block;
		}
		.fa-chevron-left, .fa-chevron-right {
			height: 100%;
			width: 15px;
			line-height: 50;
			display: none;
			float: left;
			&:hover {
				cursor: pointer;
				display: block;
			}
		}
		.decks-list {
			height: 100%;
			float: right;
			width: 200px;
			background-color: black;
			overflow-y: scroll;
			box-shadow: 1px 1px 13px 1px black;
			.deck-item {
				height: 100px;
				color: white;
				border: 1px solid black;
				&.active {
					font-weight: bold;
					color: $base-color;
					.title {
						/*border: 1px solid $base-color;*/
					}
				}
				&:hover {
					cursor: pointer;
					color: gray;
				}
				&:active {
					color: darkgray;
				}
				img {
					height: 100px;
					border: 1px solid black;
					border-radius: 5px;
				}
				.title {
					float: right;
					width: 110px;
					position: relative;
					top: 50%;
					transform: translateY(-43%);
				}
			}
		}
	}
}