<h2>Upload a deck</h2>
<span>Upload format => "{quantity} {card_name}"</br>

Example:</br>
4 Chimney Imp</br>
4 Storm Crow</br>
4 Scornful Egotist</br>
</span>

<form id="deck-upload">
	<label for="title">
		Title
		<input class="title" type="text" name="deck[name]" value=""/>
	</label>
	<textarea id="list-upload" rows="20" cols="40"></textarea>
	<div id="add-deck" class="button">Submit</div>
</form>