<ul id="upload-errors">
</ul>
<form id="deck-upload">
	<div class="deck-info">
		<label for="title">
			Title
			<input class="title" type="text" name="deck[name]" value=""/>
		</label>
		<label for="description">
			Description
			<textarea id="descript-upload" rows="10" cols="20"></textarea>
		</label>
	</div>
	<div class="card-upload">
		<textarea id="list-upload" rows="20" cols="40"></textarea>
		<div class="card-count"></div>
		<div id="add-deck" class="button">Submit</div>
		<label>
			Find a card
			<input class="card-search" val=""/>
			<ul class="search-dropdown"></ul>
		</label>
	</div>
</form>

<div id="formatting-modal" class="hidden">
	<div class="modal-content">
		<span>Upload format => "{quantity} {card_name}"</br>

		Example:</br>
		4 Chimney Imp</br>
		4 Storm Crow</br>
		4 Scornful Egotist</br>
		</span>
	</div>
<div>
