<ul id="upload-errors">
</ul>
<form id="deck-upload">
	<div class="deck-info">
		<label class="title-container" for="title">
			Title
			<input class="title" type="text" name="deck[name]" value=""/>
		</label>
		<label class="description-container" for="description">
			Description
			<textarea id="descript-upload" rows="15" cols="30"></textarea>
		</label>
		<label class="key-card-container" for="key_card">
			Key Card
			<input class="key-card" type="text" name="deck[key_card]" value=""/>
		</label>
	</div>
	<div class="card-upload">
		<label for="list-upload" class="card-list">Upload Cards <a class="show-format" href="javascript:void(0)">(formatting help)</a>
			<textarea id="list-upload" rows="20" cols="40"></textarea>
			<div class="card-count"></div>
		</label>
		<div class="search">
			<label class="card-search-input">Find a card
				<input class="card-search" val="" />
			</label>
			<ul class="search-dropdown"></ul>
		</div>
	</div>
	<div class="upload-button">
		<a id="add-deck" class="deckster-button" href="javascript:void(0)">Submit</a>
	</div>
</form>

<div id="formatting-modal" class="hidden">
	<div class="modal-content">
		<h1 class="title">Formatting Guidelines</h1>
		<i class="fa fa-times modal-close"></i>
		<span class="example">Upload format => "{quantity} {card_name}"</br>
		</br>
		Example:</br>
			<div class="example-upload">
				4 Chimney Imp</br>
				4 Storm Crow</br>
				4 Scornful Egotist</br>
			</div>
		</span>
	</div>
<div>