<div class="quant-toggle-container hidden">
	<div class="toggle" data-dir="up"><i class="fa fa-plus"></i></div>
	<div class="toggle" data-dir="down"><i class="fa fa-minus"></i></div>
	<div class="arrow"></div>
</div>
<div class="quantity"><%= card.get("quantity") %></div> <div class="name"><%= card.get("name") %></div>
<img class="image hidden" src="<%= card.get('image_url') %>"></img>