<form id="collection-upload">
	<div class="card-upload">
		<label for="list-upload" class="card-list">Upload Cards <a class="show-format" href="javascript:void(0)">(formatting help)</a>
			<textarea id="list-upload" rows="20" cols="40"></textarea>
		</label>
	</div>
	<div class="upload-button">
		<a id="add-collection" class="deckster-button" href="javascript:void(0)">Submit</a>
	</div>
</form>