<div class="collection-container">
	<ul class="collection-menu">
			<li class="view-collection active" data-view="detail">View Detailed</li>
			<li class="view-cards" data-view="pictures">View Cards</li>
	</ul>
	<div class="collection-content"></div>
	<div class="add-cards">

	</div>
</div>

<div id="formatting-modal" class="hidden modal">
	<div class="modal-content">
		<h1 class="title">Formatting Guidelines</h1>
		<i class="fa fa-times modal-close"></i>
		<span class="example">Upload format => "{quantity} {card_name}"</br>
		</br>
		Example:</br>
			<div class="example-upload">
				4 Chimney Imp</br>
				4 Storm Crow</br>
				4 Scornful Egotist</br>
			</div>
		</span>
	</div>
<div>