<% cards.forEach(function(card) { %>
	<ul class="picture-item-container">
		<div class="pictures">
			<% var quant = card.get("quantity"); %>
			<% for(var i = 0; i < quant; i++) { %>
				<li class="picture-item"><img src="<%= card.get("image_url") %>" /></li>
			<% }; %>
		</div>
	</ul>
<% }); %>