<div class="collection-container">
	<ul class="collection-menu">
			<li class="view-collection active" data-view="detail">View Detailed</li>
			<li class="view-cards" data-view="pictures">View Cards</li>
	</ul>
	<div class="collection-content"></div>
	<div class="add-cards">

	</div>
</div>