<div class="decks-container"></div>
<nav class="decks-nav">
	<i class="fa fa-chevron-left left"></i>
	<i class="fa fa-chevron-right right"></i>
	<ul class="decks-list">
		<% decks.each(function(deck, idx) { %>
			<li class="deck-item <% if(idx === 0) { %>active<% } %>" data-deck-id="<%= deck.id %>">
				<img src="<%= deck.get("cover_img") %>"></img> <%= deck.escape("title") %>
			</li>
		<% }) %>
	</ul>
</div>