<div class="content">
	<ul>
		<li>Deckster © 2015</li> | 
		<li class="contact" data-modal="contact">Contact</li> | 
		<li class="law-stuff" data-modal="law-stuff">Legal</li>
	</ul>
</div>

<div class="modal contact hidden">
	<div class="content">
		<i class="fa fa-times modal-close"></i>
		<a href="http://www.anthonychang.me" target="_blank">Personal Site</a>
	</div>
</div>
<div class="modal law-stuff hidden">
	<div class="content">
		<i class="fa fa-times modal-close"></i>
		Magic the Gathering, FNM is TM and copyright Wizards of the Coast, Inc, a subsidiary of Hasbro, Inc. All rights reserved. This site is unaffiliated. Articles and comments are user-submitted and do not represent official endorsements of this site.
	</div>
</div>