<h1 class="greeting">
	DECKSTER
	<nav class="main-nav">
		<ul class="nav-container">
			<li class="nav-item" id="nav-search"></li>
			<li class="nav-item" data-url="profile/me">PROFILE</li>
			<li class="nav-item" data-url="decks/add">ADD A DECK</li>
			<li class="nav-item" data-url="decks/me">DECKS</li>
			<li class="nav-item">COLLECTION</li>
		</ul>
	</nav>
</h1>

<div id="logout" class="in">
	<a class="btn" id="out-btn" href="#out-btn">Sign Out</a>
</div>

<div id="signin" class="out">
	<label class="username" for="username">
		<input class="username" type="text" name="user[username]" value="" placeholder="username">
	</label>
	<label class="password" for="password">
		<input class="password" type="password" name="user[password]" value="" placeholder="password">
	</label>
	<a class="btn" id="in-btn" href="#in-btn">Sign In</a>
</div>