<h2 class="add-decks">
	<div class="image-container">
		<div class="title">Add Deck</div>
		<img class="middle" src="https://s3.amazonaws.com/decksterdev/defaults/200px-Magic_card_back.jpg"></img>
		<img class="cover" src="https://s3.amazonaws.com/decksterdev/defaults/200px-Magic_card_back.jpg"></img>
		<img src="https://s3.amazonaws.com/decksterdev/defaults/200px-Magic_card_back.jpg"></img>
	</div>
</h2>

<h2 class="nav-decks">
	<div class="image-container">
		<div class="title">Deck Inventory</div>
		<img class="middle" src="https://s3.amazonaws.com/decksterdev/defaults/200px-Magic_card_back.jpg"></img>
		<img class="cover" src="https://s3.amazonaws.com/decksterdev/defaults/200px-Magic_card_back.jpg"></img>
		<img src="https://s3.amazonaws.com/decksterdev/defaults/200px-Magic_card_back.jpg"></img>
	</div>
</h2>

<h2 class="settings">
	<div class="image-container">
		<div class="title">Settings</div>
		<img class="middle" src="https://s3.amazonaws.com/decksterdev/defaults/200px-Magic_card_back.jpg"></img>
		<img class="cover" src="https://s3.amazonaws.com/decksterdev/defaults/200px-Magic_card_back.jpg"></img>
		<img src="https://s3.amazonaws.com/decksterdev/defaults/200px-Magic_card_back.jpg"></img>
	</div>
</h2>