.add-deck {
	#deck-upload {
		width: 80%;
		margin: 0 auto;
		padding-top: 50px;
		.deck-info {
			float: left;
			width: 50%;
			.title-container {
				display: inherit;
				.title {
					border: 1px solid black;
					&:focus {
						outline: 1px solid black;
					}
				}
			}
			.description-container {
				display: inherit;
				#descript-upload {
					resize: none;
					border: 1px solid black;
					&:focus {
						outline: 1px solid black;
					}
				}
			}
		}
		.card-upload {
			float: right;
			width: 50%;
			#list-upload {
				resize: none;
				border: 1px solid black;
				&:focus {
					outline: 1px solid black;
				}
			}
			.search-dropdown {
				position: relative;
				display: none;
				height: 300px;
				overflow-y: scroll;
				right: 224px;
				&.active {
					display: block;
				}
			}
			#add-deck {

			}
		}
	}
	#formatting-modal {
		.modal-content {

		}
	}
}