/* Contains project-wide reusable styles */

.button {

}

.hidden {
	display: none;
	visibility: hidden;
}

.highlight-red {
	border: 1px solid red !important;
	&:focus {
		outline: 1px solid red !important;
	}
}