/* Contains project-wide reusable styles */

$base-color: #3498db; /* rgb(52, 152, 219) */
$base-color-dark: #258ACE; /* rgb(37, 138, 206) */
$header-height: 60px;
$carousel-size: 8px;

.button {

}

.hidden {
	display: none;
	visibility: hidden;
}

.highlight-red {
	border: 1px solid red !important;
	&:focus {
		outline: 1px solid red !important;
	}
}

.flash-red {
	color: red;
/*	transition: color 0.4s ease-in-out;
	-webkit-transition: color 0.4s ease-in-out;
	-moz-transition: color 0.4s ease-in-out;
	-o-transition: color 0.4s ease-in-out;*/
}

.flash-green {
	color: green;
/*	transition: color 0.4s ease-in-out;
	-webkit-transition: color 0.4s ease-in-out;
	-moz-transition: color 0.4s ease-in-out;
	-o-transition: color 0.4s ease-in-out;*/
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(52, 152, 219, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(37, 138, 206, 0.4); 
}

/*animations*/
.slide-up {
	animation-name: slideUp;
	-webkit-animation-name: slideUp;
	-moz-animation-name: slideUp;
	-ms-animation-name: slideUp;
	-o-animation-name: slideUp;

	animation-duration: 1s;
	-webkit-duration: 1s;
	-moz-duration: 1s;
	-ms-duration: 1s;
	-o-duration: 1s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	-ms-animation-timing-function: ease;
	-o-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50% {
		transform: translateY(-8%);
	}
	65% {
		transform: translateY(4%);
	}
	80% {
		transform: translateY(-4%);
	}
	95% {
		transform: translateY(2%);
	}
	100% {
		transform: translate(0%);
	}
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

.slide-down{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;
	-moz-animation-name: slideDown;
	-ms-animation-name: slideDown;
	-o-animation-name: slideDown;

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	-ms-animation-timing-function: ease;
	-o-animation-timing-function: ease;

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}