.collection-content {
	.collection-pictures {
		.picture-item-container {
			display: inline-block;
			.picture-item {
				width: 223px;
				height: 310px;
				&:not(:first-child) {
					position: absolute;
					top: 0;
				}
			}
		}
	}
}