.collection-content {
	.collection-pictures {
		.picture-item-container {
			display: inline-block;
			.pictures {
				.picture-item {
					width: 223px;
					height: 310px;
					&:not(:first-child) {
						position: absolute;
						margin-top: 310px;
					}
				}
			}
		}
	}
}