.decks-inventory {
	height: 100%;
	.decks-container {
		height: 100%;
		overflow: hidden;
		.deck-item {
			height: 100%;
			margin: 0 20%;
			min-height: 520px;
			display: none;
			&.active {
				display: block;
			}
			.deck-container {
				height: 65%;
				transform: translateY(26%);
				.title {
					margin-bottom: 20px;
				}
				.card-container {
					float: left;
					width: 50%;
					.category {
						padding-bottom: 5px;
						.count {
							display: inline-block;
						}
						.card-item {
							.quantity, .name {
								display: inline-block;
							}
							.quantity {

							}
							.name {
								&:hover {
									cursor: pointer;
									font-weight: bold;
								}
							}
							.image {
							}
						}
					}
				}
			}
			.image-viewer {
				float: right;
				width: 223px;
				height: 310px;
				background-image: url("http://hydra-media.cursecdn.com/mtgsalvation.gamepedia.com/thumb/f/f8/Magic_card_back.jpg/200px-Magic_card_back.jpg");
				background-repeat: no-repeat;
				background-size: 100%;
			}
		}
	}
	.decks-nav {
		position: fixed;
		top: 60px;
		bottom: 60px;
		right: 0;
		width: 150px;
		transition: right 0.5s ease-in-out;
		-webkit-transition: right 0.5s ease-in-out;
		-moz-transition: right 0.5s ease-in-out;
		-ms-transition: right 0.5s ease-in-out;
		&.closed {
			transition: right 1s ease-in-out;
			-webkit-transition: right 0.5s ease-in-out;
			-moz-transition: right 0.5s ease-in-out;
			-ms-transition: right 0.5s ease-in-out;
			right: -82px;
			.fa-chevron-left {
				display: block;
			}
		}
		&:not(closed):hover > .fa-chevron-right {
			display: block;
		}
		.fa-chevron-left, .fa-chevron-right {
			height: 100%;
			width: 18px;
			line-height: 200px;
			display: none;
			float: left;
			&:hover {
				cursor: pointer;
				display: block;
			}
		}
		.decks-list {
			height: 100%;
			float: right;
			width: 80px;
			.deck-item {
				border-bottom: 1px solid black;
				&.active {
					font-weight: bold;
				}
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}