$footer-height: 60px;

#footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: $footer-height;
	.footer {
		background-color: black;
		color: white;
		height: calc(#{$footer-height} - 20px);
		padding: 10px;
	}
	.footer.inactive {
		background-color: white;
		color: black;
		.law-stuff {
			font-size: 1.7vw;
		}
	}
}