@import "base";

.landing {
	background-color: black;
	color: white;
	height: 100%;
	& > .title {
		font-size: 12vw;
		margin-bottom: 20px;
		padding-top: 40px;
		margin-left: 10vw;
	}
	.info {
		float: left;
		margin-left: 10vw;
	}
	.signup {
		float: right;
		margin-right: 10vw;
		.title {
			font-size: 30px;
			margin-bottom: 20px;
		}
		label {
			display: block;
			font-size: initial;
			margin-bottom: 15px;
			input {
				border: 1px solid white;
				padding: 3px 8px;
				background-color: white;
			}
		}
		#signup {
			display: inline-block;
		}
	}
	.guest-login {
		.div {
			margin: 10px 0;
		}
		#guest-signup {
			display: block;
			width: 113px;
		}
	}
}