@import "base";

.profile {
	width: 961px;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	position: relative;
	.add-decks, .nav-decks, .nav-collection {
		display: inline-block;
		width: 33%;
		.image-container {
			width: 200px;
			margin: 0 auto;
			.title {
				text-align: center;
				padding-bottom: 25px;
				font-size: 20px;
				font-weight: bold;
			}
			img {
				width: 200px;
				height: 279px;
				border-radius: 10px;
			}
			.middle, .cover {
				position: absolute;
			}
			.cover {
/*				transition: transform 1s ease;
				-webkit-transition: transform 1s ease;
				-moz-transition: transform 1s ease;
				-ms-transition: transform 1s ease;
				-o-transition: transform 1s ease;*/
			}
			.middle {
/*				transition: transform 1s ease;
				-webkit-transition: transform 1s ease;
				-moz-transition: transform 1s ease;
				-ms-transition: transform 1s ease;
				-o-transition: transform 1s ease;*/
			}
			&:hover {
				cursor: pointer;
				.title {
					color: $base-color;
				}
				.cover {
/*					transform: translate(20px, -20px);
					transition: transform 1s ease;
					-webkit-transition: transform 1s ease;
					-moz-transition: transform 1s ease;
					-ms-transition: transform 1s ease;
					-o-transition: transform 1s ease;*/
					box-shadow: 0 0 7px 2px $base-color;
				}
				.middle {
/*					transform: translate(10px, -10px);
					transition: transform 1s ease;
					-webkit-transition: transform 1s ease;
					-moz-transition: transform 1s ease;
					-ms-transition: transform 1s ease;
					-o-transition: transform 1s ease;*/
				}
			}
		}
	}
	.add-decks {
	}
	.nav-decks {
	}
}