.settings {
	margin: 0 20%;
	height: 100%;
	padding-top: 30px;
	.title {
		text-align: center;
		font-size: 50px;
		padding-bottom: 20px;
	}
	.form-container {
		#change-settings {
			width: 250px;
			label {
				float: left;
				margin-bottom: 20px;
				input {
					border: 1px solid black;
				}
			}
			.save-settings {
				display: inline-block;
			}
		}
	}
	.password-conf.modal {
		.content {
			height: 200px;
			width: 400px;
			margin: 0 auto;
			top: 50%;
			transform: translateY(-50%);
			background-color: white;
			position: relative;
			padding: 30px;
			.input {
				width: 154px;
				margin: 0 auto;
				.pass-input {
					margin: 20px auto 10px;
					border: 1px solid black;
				}
				#confirm-password {
					margin: 0 calc((100% - 68px)/2);
					width: 56px;
				}
			}
		}
	}
}