<h1 class="title">DECKSTER</h1>

<ul class="info">
	<li>Upload and store decklists</li>
	<li>Track your collection</li>
</ul>

<div class="signup">
	<div class="title">Sign Up</div>
	<label for="username" class="username">
		<input class="username" type="text" name="user[username]" value="" placeholder="Username">
	</label>
	<label for="password" class="password">
		<input class="password" type="password" name="user[password]" value="" placeholder="Password">
	</label>
	<label for="email" class="email">
		<input class="email" type="email" name="user[email]" value="" placeholder="Email">
	</label>
	<div id="signup" class="deckster-button">Sign Up!</div>
	<div class="guest-login">
		<div class="div">or</div>
		<div class="deckster-button" id="guest-signup">Sign in as Guest</div>
	</div>
</div>