<h1 class="title">DECKSTER</h1>

<ul class="info">
	<li>Something</li>
	<li>Something else</li>
	<li>Some other thing</li>
</ul>

<div class="signup">
	Sign Up
	<label>
		Username
		<input class="username" type="text" name="user[username]" value="">
	</label>
	<label>
		Password
		<input class="password" type="password" name="user[password]" value="">
	</label>
	<label>
		Email
		<input class="email" type="email" name="user[email]" value="">
	</label>
	<div id="signup" class="button">Submit</div>
</div>